.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container > *{
 min-width: 25rem;
 /*max-width: 40rem;*/
}

img{
    border-radius: 3rem;
    flex:1 0;
    object-fit: cover;
    height: 28rem;
    margin: 1rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
    display: flex;
    justify-content: space-between;
}

.details .name{
    font-size: 2rem;
    font-weight: bold;
}

.details .favorite{
    color: #e72929;
    font-size: 2.5rem;
}

.details .favorite.not{
    color: gray;
}

.details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.details .origins > span{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: aliceblue;
}

.details .cook-time{
    margin-top: 1rem;
}

.details .cook-time span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.details .price{
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;
}

.details .price::before{
    content: "Price: ";
    color: darkgrey;
}

.details button{
    color: white;
    background: #0d0d25;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    font-family: 'Playfair Display', serif;
}

.details button:hover{
    opacity: .9;
    cursor: pointer;
}

.sec-btn {
  min-width: 100px;
  min-height: 50px;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #0d0d25;
  text-transform: capitalize;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none !important;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 6px 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.sec-btn:hover {
  border-color: #0d0d25;
  color: #0d0d25;
}
.add-review-btn{
  color: white;
  background: #0d0d25;
  border: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 10rem;
  outline: none;
  font-family: 'Playfair Display', serif;
  margin: 8px;
}
.add-review-btn:hover{
  border-color: #0d0d25;
  background-color: #13133d;
  font-size: 1.25rem;
}
.review-input{
  width: 60%;
  height: 100px;
  border: 1px solid #0d0d25;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.review-class{
  height: 10.5rem;
  width: 40rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}
.new-review{
  background-color: #ebebff;
  padding: 24px;
  border-radius: 10px;
  border: 2px solid #8b8bbd;
}
.cancel-btn{
  color: black;
  background: #f3f3f5;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  outline: none;
  font-family: 'Playfair Display', serif;
  margin: 8px;
}
.save-btn{
  color: white;
  background: #0d0d25;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  outline: none;
  font-family: 'Playfair Display', serif;
  margin: 8px;
}
.save-btn:hover{
  border-color: #0d0d25;
  background-color: #1d1d59;
}
