<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="banner-text">
        <h1 class="h1-title">
          Welcome to our
          <span>Restaurant</span>
          Review Analyzer.
        </h1>
        <p>Among our top 1% of places, stays, eats, and experiences—decided by you.</p>
        <div class="banner-btn mt-4">
          <button href="/food-page" class="sec-btn">Check Now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="banner-img-wp">
        <img class="banner-img" src="assets/images/foods/main-b.jpg" />
      </div>
    </div>
  </div>


<!--  <div class="details">-->
<!--    <div class="header">-->
<!--            <span class="name">-->
<!--                {{food.name}}-->
<!--            </span>-->
<!--      <span class="favorite {{food.favorite?'':'not'}}">-->
<!--                ❤-->
<!--            </span>-->
<!--    </div>-->
<!--    <div class="rating">-->
<!--      <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="30px"-->
<!--                   [readonly]="true">-->
<!--      </star-rating>-->
<!--    </div>-->

<!--    <div class="origins">-->
<!--            <span *ngFor="let origin of food.origins">-->
<!--                {{origin}}-->
<!--            </span>-->
<!--    </div>-->

<!--    <div class="tags">-->
<!--      <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>-->
<!--    </div>-->

<!--    <div class="cook-time">-->
<!--            <span>-->
<!--                Time to cook about <strong>{{food.cookTime}}</strong> minutes-->
<!--            </span>-->
<!--    </div>-->

<!--    <div class="price">-->
<!--      <span>{{food.price|currency}}</span>-->
<!--    </div>-->

<!--    <button (click)="addToCart()">Add To Cart</button>-->
<!--  </div>-->

</div>
